nav {
    padding: 10px 20px;
    margin: 0px auto 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.right-section,
.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-section > span {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 700;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar > input {
    font-size: 16px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.search-bar > svg {
    position: absolute;
    right: 0;
    width: 35px;
    height: 35px;
    padding: none;
    color: rgb(164, 164, 164);
}

nav svg {
    width: 40px;
    height: 40px;
    color: white;
    transition: background-color 400ms ease;
    border: 1px solid white;
    padding: 4px;
    border-radius: 4px;
}

/* nav svg:hover {
    cursor: pointer;
} */

.right-section > button {
    width: max-content;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: 1px solid white;
    transition: background-color 400ms ease;
}

.right-section > button:hover,
.right-section > svg:hover {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: white;
    color: black;
}

.search-bar > svg:hover {
    cursor: default;
}
