nav {
    padding: 10px 20px;
    margin: 0px auto 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: crimson;
    color: white;
    border-radius: 5px;
}

nav > span {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 700;
}

nav > button {
    width: max-content;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: white;
    transition: 400ms ease;
}

nav > button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 400ms ease;
}
